@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html,
body {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
}

a,
p,
ul,
li,
ol,
dl,
h1,
h2,
h3,
h4,
dt,
pre,
figure,
span {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

section {
  position: relative;
  padding: 120px 0;
}

section:first-of-type {
  padding: 0px 0;
}

::-moz-selection {
  background-color: #f56b94;
}

::selection {
  background-color: #f56b94;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

h3 {
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
}

h4 {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
}

h5 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.container_page {
  max-width: 1680px;
  margin: 0 auto;
}

.row_page {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  margin: auto;
  position: relative;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-6 {
  grid-column: span 6;
}

.col-8 {
  grid-column: span 8;
}

.col-12 {
  grid-column: span 12;
}

.btn {
  padding: 18px 90px;
  font-size: 24px;
  border-radius: 40px;
  border: inherit;
  background-color: inherit;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.btn_main {
  background-color: #FF0B53;
  color: #fff;
}

.btn_main:hover {
  background-color: #c6003b;
}

.btn-black {
  background-color: #101020;
  color: #fff;
}

.btn-black:hover {
  background-color: #272730;
}

.btn_stroke {
  border: 1px solid #fff;
  color: #fff;
}

.btn_stroke:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobile_navigation {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 100%;
  height: 100vh;
  color: #fff;
}

.mobile_navigation.active {
  display: block;
}

.mobile_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px;
}

.top_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cosial_lists {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 60px;
}

.link_mobile a {
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.link_mobile li {
  list-style: none;
  margin-bottom: 20px;
}

.link_mobile li:last-of-type a::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -5px;
  height: 2px;
  background-color: #fff;
}

header {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
}

.top_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_header {
  width: 200px;
}

.phone_menu {
  display: none;
}

.link_header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link_header ul li {
  list-style: none;
  margin-right: 30px;
}

.link_header ul li a {
  text-decoration: none;
  color: #fff;
}

.link_header ul li li:last-child {
  margin-right: 0;
}

.hero_section {
  height: 100vh;
  width: 100%;
  background-color: #17191D;
  background-image: url("./../img/lines-hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.blur_container {
  z-index: 99;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.blur_content {
  color: #fff;
  background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  border-radius: 7px;
  padding: 72px 46px;
  height: auto;
}

.text_content {
  max-width: 1000px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text_content h1 {
  margin-bottom: 40px;
}

.text_content p {
  line-height: 28px;
  font-size: 24px;
  font-weight: 300;
  max-width: 750px;
}

.buttons_content {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons_content button {
  margin-right: 60px;
}

.buttons_content button:last-child {
  margin-right: 0px;
}

.figures {
  width: 100%;
  height: 100%;
}

.figures .bottom_stroke {
  border: 120px solid #FF0B53;
  border-radius: 100%;
  width: 700px;
  height: 700px;
  bottom: -700px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.figures .top_circle {
  background-color: #FF0B53;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 50px;
  left: 22%;
}

.partners_section {
  background-color: #F8F8F8;
}

.item_tab {
  background-color: #fff;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  height: 160px;
  cursor: pointer;
}

.item_tab img {
  width: 80%;
}

.item_tab.active_tab {
  border: 1px solid #aeaeae;
}

.accordion_container {
  margin-top: 90px;
}

.accordion_content {
  height: auto;
}

.accordion_item {
  display: none;
  border: 1px solid #DEDEDE;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 100%;
}

.accordion_item p {
  color: #575757;
  font-size: 20px;
  margin: 0 30px 30px 30px;
  font-weight: 300;
}

.accordion_item .item_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  margin: 30px;
}

.accordion_item .item_user .user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 16px;
}

.accordion_item .item_user .user_info h5 {
  margin: 0;
}

.accordion_item .item_user .user_info small {
  color: #575757;
  font-size: 20px;
  font-weight: 300;
}

.accordion_item .item_user .user_avatar {
  display: inline-block;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
}

.accordion_item .item_user .user_avatar img {
  width: 100%;
}

.accordion_item.active_tab {
  display: block;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 300px;
  width: 65%;
}

.title_section {
  margin-bottom: 100px;
}

.title_team {
  margin-bottom: 200px;
}

.team_container {
  top: 90px;
  position: relative;
}

.team_row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_container {
  width: 30%;
}

.info_container p {
  margin-top: 20px;
  font-size: 24px;
  color: #3D3D3D;
}

.tabs_container {
  width: 100%;
}

.tabs_container_slider {
  position: absolute;
  background-color: #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  padding: 16px 0px;
}

.tabs_container_slider li {
  list-style: none;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label {
  padding: 20px 40px;
  font-size: 18px;
  cursor: pointer;
}

.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: transparent;
  border-radius: 100%;
  border: 2px solid black;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: 0.1em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label {
  background-color: #FF0B53;
  border-radius: 40px;
  color: #fff;
  font-weight: 500;
  line-height: 28px;
}

.radio input[type="radio"]:checked + .radio-label:before {
  border-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 4px #FF0B53;
          box-shadow: inset 0 0 0 4px #FF0B53;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #fff;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 4px #fff;
          box-shadow: inset 0 0 0 4px #fff;
  border-color: #bfbfbf;
  background: #bfbfbf;
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.sliders_box {
  position: relative;
  top: 100px;
}

.sliders_box .swiper-slide {
  width: 430px !important;
  height: 345px;
}

.sliders_box .swiper-slide img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

figure {
  position: relative;
  height: 100%;
}

figure:hover figcaption {
  opacity: 1;
}

figure figcaption {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 40px;
  color: #fff;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

figure figcaption button {
  margin-top: 30px;
}

.bottom_slider {
  position: relative;
  top: 60px;
  width: 95%;
  float: left;
}

.pagination_container {
  position: relative;
  width: 800px;
}

.pagination_container .swiper-pagination-progressbar {
  height: 2px !important;
  background: #676767;
}

.pagination_container .swiper-pagination-progressbar span {
  top: -2px;
  position: absolute;
  background-color: #17191D;
  height: 7px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1px;
}

.slider_buttons {
  position: absolute;
  right: 2%;
  width: 130px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '' !important;
  position: absolute;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #DEDEDE;
  background-color: #F8F8F8;
  border-radius: 100%;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: auto !important;
}

.swiper-button-next {
  position: absolute;
  right: 0 !important;
}

.swiper-button-prev {
  position: absolute;
  left: 0 !important;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.figures_team svg {
  position: absolute;
}

.figures_team svg:first-child {
  left: 5%;
  bottom: -15%;
}

.figures_team svg:last-of-type {
  right: 10%;
  top: 10%;
}

.contact_section {
  position: relative;
  top: 250px;
  background-color: #F8F8F8;
  background-image: url(./../img/svg_bg.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-clip: border-box;
}

.item_form {
  margin-bottom: 10px;
  position: relative;
}

.second_item {
  margin-left: 20px;
}

input, select, textarea {
  background-color: #fff;
  color: #343434;
  width: 100%;
  border-radius: 7px;
  padding: 20px 0 20px 20px;
  font-size: 20px;
  border: transparent;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #585858;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #585858;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #585858;
}

input::placeholder, select::placeholder, textarea::placeholder {
  color: #585858;
}

input:focus, select:focus, textarea:focus {
  outline: 1px solid #FF0B53;
}

select {
  width: 105%;
}

textarea {
  height: 200px;
  margin: 0;
}

.bottom_buttons_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.upload_btn {
  display: inline-block;
  border: 1px solid #101020;
  border-radius: 7px;
  padding: 18px 52px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: 20px;
}

.upload_btn label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload_btn svg {
  margin-right: 10px;
  fill: #101020;
}

.upload_btn:hover {
  color: #fff;
  background-color: #000;
}

.upload_btn:hover svg {
  fill: #fff;
}

.figures_contacts {
  width: 350px;
  bottom: 20px;
  position: absolute;
}

footer {
  top: 250px;
  padding: 120px 0;
  position: relative;
  color: #fff;
  background-color: #17191D;
  width: 100%;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item_footer h5 {
  position: relative;
  font-weight: 700;
  font-size: 30px;
}

.item_footer h5::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 130px;
  background-color: #FF0B53;
  height: 2px;
}

.item_footer ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 20px;
}

.item_footer ul li:last-child {
  margin-bottom: 0;
}

.item_footer ul li svg {
  margin-right: 15px;
}

.item_footer small {
  color: #B1B1B1;
  font-size: 18px;
  margin-top: 30px;
}

.socials_container svg {
  margin-right: 15px;
}

.particles_footer {
  position: relative;
}

.particles_footer img {
  left: -120px;
  top: -100px;
  position: absolute;
  width: 120px;
}

.popup_overlay.open {
  display: block;
}

.popup_overlay {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.top_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_popup table {
  font-size: 20px;
  margin-left: 20px;
}

.top_popup table .socials_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 !important;
}

.top_popup table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.top_popup table td:first-child {
  color: #585858;
}

.top_popup table td:last-of-type {
  color: #2C2C2C;
  position: absolute;
  margin-left: 100px;
  font-weight: 300;
  background-color: #F4F4F4;
  padding: 5px 10px;
  border-radius: 7px;
}

.top_popup img {
  width: 300px;
}

.popup {
  position: absolute;
  display: block;
  width: 60%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  color: #000;
}

.popup p {
  color: #3D3D3D;
  font-size: 20px;
  padding-top: 20px;
  font-weight: 300;
}

.close_popup {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  width: 23px;
  height: 23px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

.close_popup:before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1.5px;
  width: 20px;
  top: 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close_popup:after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1.5px;
  width: 20px;
  top: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 6px;
}
/*# sourceMappingURL=main.css.map */